@model ZHotelWeb.Models.DTOs.RoomReservationVM

@{
    ViewData["Title"] = "BookRoom";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hotelier - Hotel HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/SiteStatic/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/SiteStatic/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/SiteStatic/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/SiteStatic/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/SiteStatic/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/SiteStatic/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">info@example.com</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">+012 345 6789</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                                <a class="" href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="index.html" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="index.html" class="nav-item nav-link active">Home</a>
                                <a href="about.html" class="nav-item nav-link">Rooms</a>
                                <a href="contact.html" class="nav-item nav-link">Contact</a>
                            </div>
                            <a asp-action="Logout" asp-controller="Account" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">Premium Version<i class="fa fa-arrow-right ms-3"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>>
<h1>BookRoom</h1>

<hr />
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
    <div class="room-item shadow rounded overflow-hidden">
        <div class="position-relative">
            <img class="img-fluid" src="/img/Room/@Model.Room.ImageUrl" alt="">
            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$100/Night</small>
        </div>
        <div class="p-4 mt-2">
            <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">@Model.Room.Type.ToString()</h5>
                <div class="ps-2">
                    @for (int i = 1; i <= (int)Model.Room.AvgAssessment; i++)
                    {
                        <small class="fa fa-star text-primary"></small>
                    }
                </div>
            </div>
            <div class="d-flex mb-3">
                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>@Model.Room.BedCount Bed</small>
                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
            </div>
            <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
            <div class="d-flex justify-content-between">
                <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col-md-4">
        <form asp-action="BookRoom">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div hidden="hidden" class="form-group">
                <input asp-for="Room.Id" class="form-control"/>
            </div>
           
            <div class="form-group">
                <label asp-for="Reservation.DateOfArrival" class="control-label"></label>
                <input asp-for="Reservation.DateOfArrival"  class="form-control"/>
                <span asp-validation-for="Reservation.DateOfArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.DateOfDeparture" class="control-label"></label>
                <input asp-for="Reservation.DateOfDeparture" class="form-control" />
                <span asp-validation-for="Reservation.DateOfDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
  </div>
</div>

       

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/SiteStatic/lib/wow/wow.min.js"></script>
    <script src="/SiteStatic/lib/easing/easing.min.js"></script>
    <script src="/SiteStatic/lib/waypoints/waypoints.min.js"></script>
    <script src="/SiteStatic/lib/counterup/counterup.min.js"></script>
    <script src="/SiteStatic/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/SiteStatic/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/SiteStatic/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/SiteStatic/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/SiteStatic/js/main.js"></script>
</body>

</html>

